<app-toolbar></app-toolbar>

<mat-card class="settings-card">
    <mat-card-title>
        <mat-icon matListIcon>settings</mat-icon> Character Conditions
    </mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input matLine matInput class="mat-autosize" type="text" name="condition-name" placeholder="Title" [(ngModel)]="newCondition">
            </mat-form-field>
            <button mat-button (click)="addCharacterCondition()">
                <mat-icon matListIcon>add</mat-icon>
            </button>
        </form>
        <mat-list>
            <mat-list-item *ngFor="let condition of characterConditions; let i = index;">
                {{condition}}
                <button class="die-button" mat-icon-button (click)="removeCondition(i)"><mat-icon>close</mat-icon></button>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>