.sidenav-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    z-index: -1 !important;

    mat-sidenav {
      h3 {
        line-height: 28px;
      }

      .character-detail {
        
        mat-icon {
          font-size: 18px;
        }

        span {
          margin-right: 15px;
        }
      }

      #nextButton {
        width: 100%;
        color: #6770bf;
      }

      #addCharacterButton {
        width: 100%;
      }

      #resetButton {
        width: 100%;
      }
    }
    
    mat-sidenav-content {
        padding: 10px;

        .character-form {
            width: 100%;
            mat-form-field {
              margin-right: 10px;
            }
        }  

        .indent {
          margin-left: 1rem;
        }

        .full-width {
            width: 100%;
        }

        .character-field {
          width: 6em;
          margin-right: 2rem !important;
        }

        .large-character-field {
          width: 8em;
          margin-right: 2rem !important;
        }

        .hp {
          width: 2.5rem;
          margin-right: 0 !important;
        }

        .hp-slash {
          font-size: 36px;
          margin-left: .5rem;
          margin-right: .5rem;
        }

        #hpChanger {
          margin-left: 1rem;
          width: 6rem;
        }

        .condition {
          span {
            font-style: italic;
            line-height: 20px;
            margin-right: 20px;
          }
        }

        #startButton {
          margin-right: 120px;
          margin-bottom: 5px;
        }

        .round-details {
          font-size: inherit;
          font-weight: 400;
          line-height: 1.125;
          font-family: Roboto,"Helvetica Neue",sans-serif;
          position: absolute;
          right: 0;
          margin-right: 10px;
        }

        .new-condition {
          margin-top: 10px;
          margin-bottom: 20px;
        }
    }
  }

  .selected-character {
    background: #cecece;
  }

  .die-button {
    position: absolute;
    right: 0;
    margin-right: 5px;
  }

  .current-turn-icon {
    color: red;
    font-size: 36px !important
  }