.sidenav-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    z-index: -1 !important;

    mat-sidenav {
      min-width: 23%;

      #nextButton {
        width: 100%;
        color: #6770bf;
      }

      #addCharacterButton {
        width: 100%;
      }

      #resetButton {
        // position: absolute; 
        // bottom: 0;
        width: 100%;
      }
    }
    
    mat-sidenav-content {
        padding: 10px;

        .character-form {
            width: 100%;
            mat-form-field {
              margin-right: 10px;
            }
        }  

        .full-width {
            width: 100%;
        }

        .character-field {
          width: 6em;
          margin-right: 2rem !important;
        }

        .hp {
          width: 2.5rem;
          margin-right: 0 !important;
        }

        .hp-slash {
          font-size: 36px;
          margin-left: .5rem;
          margin-right: .5rem;
        }

        #hpChanger {
          margin-left: 1rem;
          width: 6rem;
        }

        .hp-changer-button {
          // width: 2rem;
        }
    }
  }

  .selected-character {
    background: #cecece;
  }

  .die-button {
    position: absolute;
    right: 0;
    margin-right: 5px;
  }
  .current-turn-icon {
    color: red;
    font-size: 36px !important
  }