<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-list>
      <mat-list-item *ngIf="combatIsInProgress">
        <h3 matLine>Round {{round}}</h3>
        <button class="combat" id="nextButton" mat-button (click)="next()">
          Next <mat-icon matListIcon class="next-icon">navigate_next</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item *ngFor="let character of getOrderedCharacters(); let i = index" (click)="selectCharacter(character)" [class.selected-character]="selectedCharacter && selectedCharacter.id == character.id">
        <mat-icon *ngIf="!(combatIsInProgress && currentTurnId == character.id) && (character.characterType == characterTypeSelector.PC || character.characterType == characterTypeSelector.NPC)"
          matListIcon>face</mat-icon>
        <mat-icon *ngIf="!(combatIsInProgress && currentTurnId == character.id) && (character.characterType == characterTypeSelector.Monster)"
          matListIcon>pets</mat-icon>
        <mat-icon matListIcon *ngIf="combatIsInProgress && currentTurnId == character.id" class="current-turn-icon">arrow_right_alt</mat-icon>
        <h3 matLine> {{character.name}} </h3>
        <p matLine>
          <span><mat-icon matListIcon>security</mat-icon>{{character.ac}}</span>
        </p>
        <button class="die-button" mat-icon-button (click)="removeCharacter(i, character)"><mat-icon>close</mat-icon></button>
        <!-- <mat-divider [inset]="true" *ngIf="!last"></mat-divider> -->
      </mat-list-item>
      <mat-list-item>
        <button id="addCharacterButton" mat-button (click)="displayNewCharacterForm()">
          <mat-icon matListIcon>add</mat-icon> Add Character
        </button>
      </mat-list-item>
      <mat-list-item>
        <button id="resetButton" mat-button (click)="resetForm()">
          <mat-icon matListIcon>refresh</mat-icon> Reset
        </button>
      </mat-list-item>
    </mat-list>


  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card *ngIf="selectedCharacter">
      <mat-card-title>
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" [(ngModel)]="selectedCharacter.name">
        </mat-form-field>
      </mat-card-title>
      <mat-card-content>
        <form class="character-form">
          <mat-form-field class="character-field">
            <mat-select name="characterType" placeholder="Character Type" [(ngModel)]="selectedCharacter.characterType">
              <mat-option *ngFor="let characterType of characterTypes" [value]="characterType.id">
                {{characterType.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="character-field">
            <input matInput class="mat-autosize" type="number" name="initiative" placeholder="Initiative" [(ngModel)]="selectedCharacter.initiative">
          </mat-form-field>

          <mat-form-field class="character-field">
            <input matInput class="mat-autosize" type="number" name="ac" placeholder="AC" [(ngModel)]="selectedCharacter.ac">
          </mat-form-field>

          <mat-form-field class="hp" style="margin-left: 2rem;">
            <input matInput class="mat-autosize" type="number" name="hp" placeholder="HP" [(ngModel)]="selectedCharacter.currentHp">
          </mat-form-field>
          <span class="hp-slash"> / </span>
          <mat-form-field class="hp">
            <input matInput class="mat-autosize" type="number" name="max-hp" placeholder="Max" [(ngModel)]="selectedCharacter.maxHp"
              (blur)="setInitialHp()">
          </mat-form-field>

          <mat-form-field appearance="outline" id="hpChanger">
            <mat-label>&#177;</mat-label>
            <input name="hpDelta" matInput type="number" [(ngModel)]="hpDelta">
            <mat-icon matSuffix>favorite_border</mat-icon>
            <mat-hint>Heal / Harm</mat-hint>
          </mat-form-field>

          <button mat-icon-button color="primary" (click)="modifyHp(true)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="modifyHp(false)">
            <mat-icon>remove</mat-icon>
          </button>




          <mat-card>
            <mat-card-subtitle>Character Conditions</mat-card-subtitle>
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  <mat-form-field>
                    <input matLine matInput class="mat-autosize" type="text" name="condition-name" placeholder="Title" [(ngModel)]="newCondition.name">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput class="mat-autosize" type="number" name="condition-durationInRounds" placeholder="Rounds" [(ngModel)]="newCondition.durationInRounds">
                  </mat-form-field>
                  <button id="" mat-button (click)="addCharacterCondition()">
                    <mat-icon matListIcon>add</mat-icon>
                  </button>
                </mat-list-item>
                <mat-list-item *ngFor="let condition of selectedCharacter.conditions; let i = index;">
                  <h2 matLine>{{condition.name}}</h2>
                  <p matLine *ngIf="condition.durationInRounds">Rounds: {{condition.durationInRounds}} </p>
                  <button class="die-button" mat-icon-button (click)="removeCharacterCondition(i)"><mat-icon>close</mat-icon></button>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button id="saveButton" mat-button (click)="saveCharacter()">Save</button>
      </mat-card-actions>
    </mat-card>

  </mat-sidenav-content>
</mat-sidenav-container>