<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [opened]="isSidebarOpened()">
    <mat-list>
      <mat-list-item *ngFor="let character of getOrderedCharacters(); let i = index" (click)="selectCharacter(character)" [class.selected-character]="selectedCharacter && selectedCharacter.id == character.id">
        <mat-icon *ngIf="!(combatIsInProgress && currentTurnId == character.id)" matListIcon>{{character.getCharacterTypeIcon()}}</mat-icon>
        <mat-icon matListIcon *ngIf="combatIsInProgress && currentTurnId == character.id" class="current-turn-icon">arrow_right_alt</mat-icon>
        <h3 matLine> {{character.name}} <span *ngIf="character.conditions.length > 0"><mat-icon matSuffix color="warn">outlined_flag</mat-icon></span></h3>
        <p matLine class="character-detail" *ngIf="character.ac">
          <span><mat-icon matSuffix color="primary">security</mat-icon>{{character.ac}}</span>
          <span><mat-icon matSuffix color="warn">favorite_border</mat-icon>{{character.currentHp}}</span>
        </p>
        <button class="die-button" mat-icon-button (click)="removeCharacter(i, character)"><mat-icon>close</mat-icon></button>
      </mat-list-item>
      <mat-list-item>
        <button class="form-button" mat-button (click)="displayNewCharacterForm()">
          <mat-icon matListIcon>add</mat-icon> Add Character
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="form-button" mat-button (click)="resetForm()">
          <mat-icon matListIcon>refresh</mat-icon>
        </button>
        <button class="form-button" mat-button (click)="saveForm()">
          <mat-icon matListIcon>save</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <button id="startButton" mat-button color="primary" (click)="toggleCombat()"><mat-icon matSuffix>flash_on</mat-icon>{{
        getCombatButtonText() }}</button>

      <span class="round-details" *ngIf="combatIsInProgress">
        <span matLine>Round {{round}}</span>
        <button class="combat" id="nextButton" mat-button (click)="next()">
          Next <mat-icon matListIcon class="next-icon">navigate_next</mat-icon>
        </button>
      </span>
    </p>

    <mat-card *ngIf="selectedCharacter">
      <mat-card-title>
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" [(ngModel)]="selectedCharacter.name">
        </mat-form-field>
      </mat-card-title>
      <mat-card-content>
        <form class="character-form">
          <mat-form-field class="large-character-field indent">
            <mat-select name="characterType" placeholder="Character Type" [(ngModel)]="selectedCharacter.characterType">
              <mat-option *ngFor="let characterType of characterTypes" [value]="characterType.id">
                {{characterType.value}}
              </mat-option>
            </mat-select>
            <mat-icon *ngIf="selectedCharacter.characterType" matSuffix>{{selectedCharacter.getCharacterTypeIcon()}}</mat-icon>
          </mat-form-field>

          <mat-form-field class="character-field">
            <input matInput *ngIf="selectedCharacter.characterType == characterTypeSelector.PC" class="mat-autosize" type="number" name="initiative" placeholder="initiative" [(ngModel)]="selectedCharacter.initiative">
            <input matInput *ngIf="selectedCharacter.characterType != characterTypeSelector.PC" readonly class="mat-autosize" type="number" name="initiative" placeholder="initiative" [value]="selectedCharacter.getInit()">
            <mat-icon matSuffix>flash_on</mat-icon>
          </mat-form-field>

          <mat-form-field class="character-field">
            <input matInput class="mat-autosize" type="number" name="ac" placeholder="AC" [(ngModel)]="selectedCharacter.ac">
            <mat-icon matSuffix>security</mat-icon>
          </mat-form-field>

          <button *ngIf="selectedCharacter.characterType == characterTypeSelector.Monster" mat-icon-button color="primary" (click)="clone()">CLONE</button>


          <br/>

          <mat-form-field class="hp character-field indent">
            <input matInput class="mat-autosize" type="number" name="hp" placeholder="HP" [(ngModel)]="selectedCharacter.currentHp">
          </mat-form-field>
          <span class="hp-slash"> / </span>
          <mat-form-field class="hp">
            <input matInput class="mat-autosize" type="number" name="max-hp" placeholder="Max" [(ngModel)]="selectedCharacter.maxHp"
              (blur)="setInitialHp()">
          </mat-form-field>

          <mat-form-field appearance="outline" id="hpChanger">
            <mat-label>&#177;</mat-label>
            <input name="hpDelta" matInput type="number" [(ngModel)]="hpDelta">
            <mat-icon matSuffix>favorite_border</mat-icon>
            <mat-hint>Heal / Harm</mat-hint>
          </mat-form-field>

          <button mat-icon-button color="primary" (click)="modifyHp(true)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="modifyHp(false)">
            <mat-icon>remove</mat-icon>
          </button>

          <br/>
          <br/>

          ({{selectedCharacter.stats.StrengthMod}})
          <mat-form-field class="character-field">
            <input matInput class="mat-autosize" type="number" name="STR" placeholder="STR" [(ngModel)]="selectedCharacter.stats.Strength">
            <!-- <mat-icon matSuffix>security</mat-icon> -->
          </mat-form-field>
          ({{selectedCharacter.stats.DexterityMod}})
          <mat-form-field class="character-field">
            <input matInput class="mat-autosize" type="number" name="DEX" placeholder="DEX" [(ngModel)]="selectedCharacter.stats.Dexterity">
            <!-- <mat-icon matSuffix>security</mat-icon> -->
          </mat-form-field>
          ({{selectedCharacter.stats.ConstitutionMod}})
          <mat-form-field class="character-field">
            <input matInput class="mat-autosize" type="number" name="CON" placeholder="CON" [(ngModel)]="selectedCharacter.stats.Constitution">
            <!-- <mat-icon matSuffix>security</mat-icon> -->
          </mat-form-field>
          ({{selectedCharacter.stats.IntelligenceMod}})
          <mat-form-field class="character-field">
            <input matInput class="mat-autosize" type="number" name="INT" placeholder="INT" [(ngModel)]="selectedCharacter.stats.Intelligence">
            <!-- <mat-icon matSuffix>security</mat-icon> -->
          </mat-form-field>
          ({{selectedCharacter.stats.WisdomMod}})
          <mat-form-field class="character-field">
            <input matInput class="mat-autosize" type="number" name="WIS" placeholder="WIS" [(ngModel)]="selectedCharacter.stats.Wisdom">
            <!-- <mat-icon matSuffix>security</mat-icon> -->
          </mat-form-field>
          ({{selectedCharacter.stats.CharismaMod}})
          <mat-form-field class="character-field">
            <input matInput class="mat-autosize" type="number" name="CHA" placeholder="CHA" [(ngModel)]="selectedCharacter.stats.Charisma">
            <!-- <mat-icon matSuffix>security</mat-icon> -->
          </mat-form-field>

          <mat-card>
            <mat-card-subtitle>Character Conditions</mat-card-subtitle>
            <mat-card-content>
              <mat-list>
                <mat-list-item class="new-condition">
                  <p matLine>
                    <mat-form-field>
                      <mat-select name="selectedCondition" placeholder="Character Condition" [(ngModel)]="selectedCondition">
                        <mat-option *ngFor="let condition of characterConditions" [value]="condition">
                          {{condition}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="selectedCondition === 'Other'">
                      <input matInput class="mat-autosize" type="text" name="condition-name" placeholder="Title" [(ngModel)]="newCondition">
                    </mat-form-field>
                  </p>
                  <p matLine>
                    <mat-form-field class="character-field">
                      <input matInput class="mat-autosize" type="number" name="condition-durationInRounds" placeholder="Rounds" [(ngModel)]="conditionRoundDuration">
                    </mat-form-field>
                    <mat-form-field class="character-field">
                      <mat-select name="endConditionAbility" placeholder="Ability" [(ngModel)]="conditionEndCondition.ability">
                        <mat-option *ngFor="let ability of endConditionAbilities" [value]="ability.id">
                          {{ability.value}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="character-field">
                      <input matInput class="mat-autosize" type="number" name="condition-durationInRounds" placeholder="DC" [(ngModel)]="conditionEndCondition.dc">
                    </mat-form-field>
                    <button mat-button (click)="addCharacterCondition()">
                      <mat-icon matListIcon>add</mat-icon>
                    </button>
                  </p>
                </mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item class="condition" *ngFor="let condition of selectedCharacter.conditions; let i = index;">
                  <h2 matLine>{{condition.name}}</h2>
                  <p matLine>
                    <span *ngIf="condition.durationInRounds">{{condition.durationInRounds}} Rounds</span>
                    <span *ngIf="condition.endCondition">{{abilitySelector[condition.endCondition.ability]}} {{condition.endCondition.dc}}</span>
                  </p>
                  <button class="die-button" mat-icon-button (click)="removeCharacterCondition(i)"><mat-icon>close</mat-icon></button>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </form>
      </mat-card-content>

    </mat-card>

  </mat-sidenav-content>
</mat-sidenav-container>
