<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <button id="addCharacterButton" mat-button (click)="displayNewCharacterForm()">
      <mat-icon matListIcon>add</mat-icon> Add Character
    </button>

    <mat-list>
      <mat-list-item *ngFor="let character of getOrderedCharacters(); let i = index" (click)="selectCharacter(character)" [class.selected-character]="character.isSelected">
        <mat-icon matListIcon *ngIf="!(combatIsInProgress && i == 0)">person</mat-icon>
        <mat-icon matListIcon *ngIf="combatIsInProgress && i == 0" class="current-turn-icon">arrow_right_alt</mat-icon>
        <h3 matLine> {{character.name}} </h3>
        <p matLine>
          <span> {{character.initiative}} </span>
        </p>
        <button class="die-button" mat-icon-button (click)="removeCharacter(i, character)"><mat-icon>close</mat-icon></button>
        <!-- <mat-divider [inset]="true" *ngIf="!last"></mat-divider> -->
      </mat-list-item>
    </mat-list>

    <button id="resetButton" mat-button (click)="resetForm()">
      <mat-icon matListIcon>refresh</mat-icon> Reset
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card *ngIf="selectedCharacter">
      <mat-card-title>
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" [(ngModel)]="selectedCharacter.name">
        </mat-form-field>
      </mat-card-title>
      <mat-card-content>
        <form class="character-form">
          <mat-form-field>
            <input matInput class="mat-autosize" type="number" name="initiative" placeholder="Initiative" [(ngModel)]="selectedCharacter.initiative">
          </mat-form-field>

          <mat-form-field>
            <input matInput class="mat-autosize" type="number" name="ac" placeholder="AC" [(ngModel)]="selectedCharacter.ac">
          </mat-form-field>

          <mat-form-field>
            <input matInput class="mat-autosize" type="number" name="hp" placeholder="HP" [(ngModel)]="selectedCharacter.hp">
          </mat-form-field>

          <mat-card>
            <mat-card-subtitle>Character Conditions</mat-card-subtitle>
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  <input matInput class="mat-autosize" type="text" name="condition" placeholder="New Condition" [(ngModel)]="newCondition">
                  <button id="" mat-button (click)="addCharacterCondition()">
                    <mat-icon matListIcon>add</mat-icon>
                  </button>
                </mat-list-item>
                <mat-list-item *ngFor="let status of selectedCharacter.conditions;">
                  <p>{{status.name}}</p>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="saveCharacter()">Save</button>
      </mat-card-actions>
    </mat-card>

  </mat-sidenav-content>
</mat-sidenav-container>