mat-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
  }

  #startButton {
    position: absolute;
    right: 0;
    margin-right: 120px;
    margin-bottom: 5px;
  }

  .toolbar-button {
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-bottom: 5px;
  }