<mat-toolbar>
  <span (click)="navigateToHome()"><mat-icon matListIcon>whatshot</mat-icon> Initiate</span>
  <span class="spacer"></span>

  <button class="battles-button" mat-button [matMenuTriggerFor]="battles"><mat-icon matListIcon>folder_shared</mat-icon>  Battles</button>

  <mat-menu #battles="matMenu">
    <button *ngFor="let battle of savedBattles; let i = index" mat-menu-item (click)="selectBattle(battle)">{{ getBattleTitle(battle) }} <span class="remove-battle-button" (click)="removeSavedBattles(i, $event)">X</span></button>
  </mat-menu>

  <button class="toolbar-button" mat-button (click)="navigateToConditions()"><mat-icon matListIcon>settings</mat-icon>  Settings</button>
</mat-toolbar>